<sitecore>
  <services>
    <register serviceType="Sitecore.Commerce.XA.Feature.Account.Repositories.ILoginRepository, Sitecore.Commerce.XA.Feature.Account" implementationType="Sitecore.Commerce.XA.Feature.Account.Repositories.LoginRepository, Sitecore.Commerce.XA.Feature.Account" lifetime="Singleton"/>
    <register serviceType="Sitecore.Commerce.XA.Feature.Account.Repositories.IRegistrationRepository, Sitecore.Commerce.XA.Feature.Account" implementationType="Sitecore.Commerce.XA.Feature.Account.Repositories.RegistrationRepository, Sitecore.Commerce.XA.Feature.Account" lifetime="Singleton"/>
    <register serviceType="Sitecore.Commerce.XA.Feature.Account.Repositories.IRecentOrdersRepository, Sitecore.Commerce.XA.Feature.Account" implementationType="Sitecore.Commerce.XA.Feature.Account.Repositories.RecentOrdersRepository, Sitecore.Commerce.XA.Feature.Account" lifetime="Singleton"/>
    <register serviceType="Sitecore.Commerce.XA.Feature.Account.Repositories.IOrderHistoryRepository, Sitecore.Commerce.XA.Feature.Account" implementationType="Sitecore.Commerce.XA.Feature.Account.Repositories.OrderHistoryRepository, Sitecore.Commerce.XA.Feature.Account" lifetime="Singleton"/>
    <register serviceType="Sitecore.Commerce.XA.Feature.Account.Repositories.IOrderLinesRepository, Sitecore.Commerce.XA.Feature.Account" implementationType="Sitecore.Commerce.XA.Feature.Account.Repositories.OrderLinesRepository, Sitecore.Commerce.XA.Feature.Account" lifetime="Singleton"/>
    <register serviceType="Sitecore.Commerce.XA.Feature.Account.Repositories.IOrderHeaderRepository, Sitecore.Commerce.XA.Feature.Account" implementationType="Sitecore.Commerce.XA.Feature.Account.Repositories.OrderHeaderRepository, Sitecore.Commerce.XA.Feature.Account" lifetime="Singleton"/>
    <register serviceType="Sitecore.Commerce.XA.Feature.Account.Repositories.IOrderTotalsRepository, Sitecore.Commerce.XA.Feature.Account" implementationType="Sitecore.Commerce.XA.Feature.Account.Repositories.OrderTotalsRepository, Sitecore.Commerce.XA.Feature.Account" lifetime="Singleton"/>
    <register serviceType="Sitecore.Commerce.XA.Feature.Account.Repositories.IForgotPasswordRepository, Sitecore.Commerce.XA.Feature.Account" implementationType="Sitecore.Commerce.XA.Feature.Account.Repositories.ForgotPasswordRepository, Sitecore.Commerce.XA.Feature.Account" lifetime="Singleton"/>
    <register serviceType="Sitecore.Commerce.XA.Feature.Account.Repositories.IAddressRepository, Sitecore.Commerce.XA.Feature.Account" implementationType="Sitecore.Commerce.XA.Feature.Account.Repositories.AddressRepository, Sitecore.Commerce.XA.Feature.Account" lifetime="Singleton"/>
    <register serviceType="Sitecore.Commerce.XA.Feature.Account.Repositories.IAddressEditorRepository, Sitecore.Commerce.XA.Feature.Account" implementationType="Sitecore.Commerce.XA.Feature.Account.Repositories.AddressEditorRepository, Sitecore.Commerce.XA.Feature.Account" lifetime="Singleton"/>
    <register serviceType="Sitecore.Commerce.XA.Feature.Account.Repositories.IChangePasswordRepository, Sitecore.Commerce.XA.Feature.Account" implementationType="Sitecore.Commerce.XA.Feature.Account.Repositories.ChangePasswordRepository, Sitecore.Commerce.XA.Feature.Account" lifetime="Singleton"/>
    <register serviceType="Sitecore.Commerce.XA.Feature.Account.Repositories.IProfileViewRepository, Sitecore.Commerce.XA.Feature.Account" implementationType="Sitecore.Commerce.XA.Feature.Account.Repositories.ProfileViewRepository, Sitecore.Commerce.XA.Feature.Account" lifetime="Singleton"/>
    <register serviceType="Sitecore.Commerce.XA.Feature.Account.Repositories.IProfileEditorRepository, Sitecore.Commerce.XA.Feature.Account" implementationType="Sitecore.Commerce.XA.Feature.Account.Repositories.ProfileEditorRepository, Sitecore.Commerce.XA.Feature.Account" lifetime="Singleton"/>
    <register serviceType="Sitecore.Commerce.XA.Feature.Account.Repositories.IProfileEditorRepository, Sitecore.Commerce.XA.Feature.Account" implementationType="Sitecore.Commerce.XA.Feature.Account.Repositories.ProfileEditorRepository, Sitecore.Commerce.XA.Feature.Account" lifetime="Singleton"/>
	  <!--
	  <register serviceType="Sitecore.Commerce.XA.Feature.Account.Controllers.AccountController, Sitecore.Commerce.XA.Feature.Account" implementationType="Sitecore.Commerce.XA.Feature.Account.Controllers.AccountController, Sitecore.Commerce.XA.Feature.Account" lifetime="Transient"/>
	  -->
	  <register serviceType="Sitecore.Commerce.XA.Feature.Account.Controllers.AccountController, Sitecore.Commerce.XA.Feature.Account" implementationType="Sitecore.HabitatHome.Feature.Customers.Controllers.AccountController, Sitecore.HabitatHome.Feature.Customers" lifetime="Transient"/>
    <register serviceType="Sitecore.Commerce.XA.Feature.Account.Controllers.AccountAddressController, Sitecore.Commerce.XA.Feature.Account" implementationType="Sitecore.Commerce.XA.Feature.Account.Controllers.AccountAddressController, Sitecore.Commerce.XA.Feature.Account" lifetime="Transient"/>
    <register serviceType="Sitecore.Commerce.XA.Feature.Account.Controllers.AccountProfileController, Sitecore.Commerce.XA.Feature.Account" implementationType="Sitecore.Commerce.XA.Feature.Account.Controllers.AccountProfileController, Sitecore.Commerce.XA.Feature.Account" lifetime="Transient"/>
    <register serviceType="Sitecore.Commerce.XA.Feature.Account.Controllers.OrdersController, Sitecore.Commerce.XA.Feature.Account" implementationType="Sitecore.Commerce.XA.Feature.Account.Controllers.OrdersController, Sitecore.Commerce.XA.Feature.Account" lifetime="Transient"/>
  </services>
  <pipelines>
  </pipelines>
  <commerce.XA>
    <models>
      <LoginInputModel type="Sitecore.Commerce.XA.Feature.Account.Models.InputModels.LoginInputModel, Sitecore.Commerce.XA.Feature.Account" />
      <LoginRenderingModel type="Sitecore.Commerce.XA.Feature.Account.Models.LoginRenderingModel, Sitecore.Commerce.XA.Feature.Account" />
		<!--
		<RegistrationUserInputModel type="Sitecore.Commerce.XA.Feature.Account.Models.InputModels.RegistrationUserInputModel, Sitecore.Commerce.XA.Feature.Account" />
		-->
	  <RegistrationUserInputModel type="Sitecore.HabitatHome.Feature.Customers.Models.RegistrationUserInputModelCustom, Sitecore.HabitatHome.Feature.Customers" />
      <!--
	  <RegistrationUserRenderingModel type="Sitecore.Commerce.XA.Feature.Account.Models.RegistrationUserRenderingModel, Sitecore.Commerce.XA.Feature.Account" />	  
	  -->
	  <RegistrationUserRenderingModel type="Sitecore.HabitatHome.Feature.Customers.Models.RegistrationUserRenderingModelCustom, Sitecore.HabitatHome.Feature.Customers" />
      <ForgotPasswordRenderingModel type="Sitecore.Commerce.XA.Feature.Account.Models.ForgotPasswordRenderingModel, Sitecore.Commerce.XA.Feature.Account" />
      <AddressListRenderingModel type="Sitecore.Commerce.XA.Feature.Account.Models.AddressListRenderingModel, Sitecore.Commerce.XA.Feature.Account" />
      <AddressEditorRenderingModel type="Sitecore.Commerce.XA.Feature.Account.Models.AddressEditorRenderingModel, Sitecore.Commerce.XA.Feature.Account" />
      <ChangePasswordRenderingModel type="Sitecore.Commerce.XA.Feature.Account.Models.ChangePasswordRenderingModel, Sitecore.Commerce.XA.Feature.Account" />
      <ChangePasswordInputModel type="Sitecore.Commerce.XA.Feature.Account.Models.InputModels.ChangePasswordInputModel, Sitecore.Commerce.XA.Feature.Account" />
      <ChangePasswordBaseJsonResult type="Sitecore.Commerce.XA.Feature.Account.Models.JsonResults.ChangePasswordBaseJsonResult, Sitecore.Commerce.XA.Feature.Account" />
      <OrderLineRenderingModel type="Sitecore.Commerce.XA.Feature.Account.Models.OrderLineRenderingModel, Sitecore.Commerce.XA.Feature.Account" />
      <OrderLinesRenderingModel type="Sitecore.Commerce.XA.Feature.Account.Models.OrderLinesRenderingModel, Sitecore.Commerce.XA.Feature.Account" />
      <OrderTotalsRenderingModel type="Sitecore.Commerce.XA.Feature.Account.Models.OrderTotalsRenderingModel, Sitecore.Commerce.XA.Feature.Account" />
      <OrderHeaderRenderingModel type="Sitecore.Commerce.XA.Feature.Account.Models.OrderHeaderRenderingModel, Sitecore.Commerce.XA.Feature.Account" />      
      <AddressItemListJsonResult type="Sitecore.Commerce.XA.Feature.Account.Models.JsonResults.AddressItemListJsonResult, Sitecore.Commerce.XA.Feature.Account" />
      <AddressItemJsonResult type="Sitecore.Commerce.XA.Feature.Account.Models.JsonResults.AddressItemJsonResult, Sitecore.Commerce.XA.Feature.Account" />
      <RecentOrdersRenderingModel type="Sitecore.Commerce.XA.Feature.Account.Models.RecentOrdersRenderingModel, Sitecore.Commerce.XA.Feature.Account" />
      <OrderHistoryRenderingModel type="Sitecore.Commerce.XA.Feature.Account.Models.OrderHistoryRenderingModel, Sitecore.Commerce.XA.Feature.Account" />
      <OrdersBaseJsonResult type="Sitecore.Commerce.XA.Feature.Account.Models.JsonResults.OrdersBaseJsonResult, Sitecore.Commerce.XA.Feature.Account" />
      <AddressEditorItemJsonResult type="Sitecore.Commerce.XA.Feature.Account.Models.JsonResults.AddressEditorItemJsonResult, Sitecore.Commerce.XA.Feature.Account" />
      <AddressEditorListJsonResult type="Sitecore.Commerce.XA.Feature.Account.Models.JsonResults.AddressEditorListJsonResult, Sitecore.Commerce.XA.Feature.Account" />
      <ProfileViewRenderingModel type="Sitecore.Commerce.XA.Feature.Account.Models.ProfileViewRenderingModel, Sitecore.Commerce.XA.Feature.Account" />
      <ProfileEditorRenderingModel type="Sitecore.Commerce.XA.Feature.Account.Models.ProfileEditorRenderingModel, Sitecore.Commerce.XA.Feature.Account" />
      <ProfileEditorInputModel type="Sitecore.Commerce.XA.Feature.Account.Models.ProfileEditorInputModel, Sitecore.Commerce.XA.Feature.Account" />
    </models>
    <javascript>      
      <feature>
        <file name="CxaRegistrationationForm" path="/Scripts/Commerce/Feature/Account/cxa.feature.registration.js" order="500" />
        <file name="CxaLoginForm" path="/Scripts/Commerce/Feature/Account/cxa.feature.login.js" order="501" />
        <file name="CxaForgotPasswordForm" path="/Scripts/Commerce/Feature/Account/cxa.feature.forgotpassword.js" order="502" />
        <file name="CxaAddressList" path="/Scripts/Commerce/Feature/Account/cxa.feature.address.list.js" order="503" />
        <file name="CxaAddressListModel" path="/Scripts/Commerce/Feature/Account/cxa.feature.address.list.model.js" order="504" />
        <file name="CxaAddressEditor" path="/Scripts/Commerce/Feature/Account/cxa.feature.address.editor.js" order="505" />
        <file name="CxaAddressEditorModel" path="/Scripts/Commerce/Feature/Account/cxa.feature.address.editor.model.js" order="506" />
        <file name="CxaOrderModel" path="/Scripts/Commerce/Feature/Account/cxa.feature.orders.model.js" order="201" />
        <file name="CxaOrderComponent" path="/Scripts/Commerce/Feature/Account/cxa.feature.recent-orders.js" order="202" />
        <file name="CxaOrderHistory" path="/Scripts/Commerce/Feature/Account/cxa.feature.order-history.js" order="202" />
        <file name="CxaChangePasswordForm" path="/Scripts/Commerce/Feature/Account/cxa.feature.changepassword.js" order="502" />
        <file name="CxaProfileEditorForm" path="/Scripts/Commerce/Feature/Account/cxa.feature.profileeditor.js" order="502" />
      </feature>
    </javascript>
  </commerce.XA>
</sitecore>