<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <register serviceType="Sitecore.Commerce.XA.Foundation.Connect.Providers.IConnectServiceProvider, Sitecore.Commerce.XA.Foundation.Connect" implementationType="Sitecore.Commerce.XA.Foundation.Connect.Providers.ConnectServiceProvider, Sitecore.Commerce.XA.Foundation.Connect" lifetime="Singleton"/>
      <register serviceType="Sitecore.Commerce.XA.Foundation.Connect.Managers.IGlobalizationManager, Sitecore.Commerce.XA.Foundation.Connect" implementationType="Sitecore.Commerce.XA.Foundation.Connect.Managers.GlobalizationManager, Sitecore.Commerce.XA.Foundation.Connect" lifetime="Singleton"/>
		<!--
		<register serviceType="Sitecore.Commerce.XA.Foundation.Connect.Managers.IAccountManager, Sitecore.Commerce.XA.Foundation.Connect" implementationType="Sitecore.Commerce.XA.Foundation.Connect.Managers.AccountManager, Sitecore.Commerce.XA.Foundation.Connect" lifetime="Singleton"/>
		!-->
	  <register serviceType="Sitecore.Commerce.XA.Foundation.Connect.Managers.IAccountManager, Sitecore.Commerce.XA.Foundation.Connect" implementationType="Sitecore.HabitatHome.Foundation.Customers.Managers.AccountManager, Sitecore.HabitatHome.Foundation.Customers" lifetime="Singleton"/>
      <register serviceType="Sitecore.Commerce.XA.Foundation.Connect.Managers.ISearchManager, Sitecore.Commerce.XA.Foundation.Connect" implementationType="Sitecore.Commerce.XA.Foundation.Connect.Managers.SearchManager, Sitecore.Commerce.XA.Foundation.Connect" lifetime="Singleton"/>
      <register serviceType="Sitecore.Commerce.XA.Foundation.Connect.Managers.ICartManager, Sitecore.Commerce.XA.Foundation.Connect" implementationType="Sitecore.Commerce.XA.Foundation.Connect.Managers.CartManager, Sitecore.Commerce.XA.Foundation.Connect" lifetime="Singleton"/>
      <register serviceType="Sitecore.Commerce.XA.Foundation.Connect.Managers.ICatalogManager, Sitecore.Commerce.XA.Foundation.Connect" implementationType="Sitecore.Commerce.XA.Foundation.Connect.Managers.CatalogManager, Sitecore.Commerce.XA.Foundation.Connect" lifetime="Singleton"/>
      <register serviceType="Sitecore.Commerce.XA.Foundation.Connect.Managers.IPricingManager, Sitecore.Commerce.XA.Foundation.Connect" implementationType="Sitecore.Commerce.XA.Foundation.Connect.Managers.PricingManager, Sitecore.Commerce.XA.Foundation.Connect" lifetime="Singleton"/>
      <register serviceType="Sitecore.Commerce.XA.Foundation.Connect.Managers.IInventoryManager, Sitecore.Commerce.XA.Foundation.Connect" implementationType="Sitecore.Commerce.XA.Foundation.Connect.Managers.InventoryManager, Sitecore.Commerce.XA.Foundation.Connect" lifetime="Singleton"/>
      <register serviceType="Sitecore.Commerce.XA.Foundation.Connect.Managers.IShippingManager, Sitecore.Commerce.XA.Foundation.Connect" implementationType="Sitecore.Commerce.XA.Foundation.Connect.Managers.ShippingManager, Sitecore.Commerce.XA.Foundation.Connect" lifetime="Singleton"/>
      <register serviceType="Sitecore.Commerce.XA.Foundation.Connect.Managers.IOrderManager, Sitecore.Commerce.XA.Foundation.Connect" implementationType="Sitecore.Commerce.XA.Foundation.Connect.Managers.OrderManager, Sitecore.Commerce.XA.Foundation.Connect" lifetime="Singleton"/>
      <register serviceType="Sitecore.Commerce.XA.Foundation.Connect.Managers.IPaymentManager, Sitecore.Commerce.XA.Foundation.Connect" implementationType="Sitecore.Commerce.XA.Foundation.Connect.Managers.PaymentManager, Sitecore.Commerce.XA.Foundation.Connect" lifetime="Singleton"/>
      <register serviceType="Sitecore.Commerce.XA.Foundation.Connect.Managers.IGiftCardManager, Sitecore.Commerce.XA.Foundation.Connect" implementationType="Sitecore.Commerce.XA.Foundation.Connect.Managers.GiftCardManager, Sitecore.Commerce.XA.Foundation.Connect" lifetime="Singleton"/>
      <register serviceType="Sitecore.Commerce.XA.Foundation.Connect.IVisitorContext, Sitecore.Commerce.XA.Foundation.Connect" implementationType="Sitecore.Commerce.XA.Foundation.Connect.VisitorContext, Sitecore.Commerce.XA.Foundation.Connect" lifetime="Transient"/>      
    </services>
    <pipelines>
      <commerce.customers.getUser>
        <processor type="Sitecore.Commerce.Pipelines.Customers.GetUser.GetUserFromSitecore, Sitecore.Commerce">
          <patch:delete/>
        </processor>
      </commerce.customers.getUser>
    </pipelines>

    <commerce.XA>
      <models>
        <ProductEntity type="Sitecore.Commerce.XA.Foundation.Connect.Entities.ProductEntity, Sitecore.Commerce.XA.Foundation.Connect"/>
        <VariantEntity type="Sitecore.Commerce.XA.Foundation.Connect.Entities.VariantEntity, Sitecore.Commerce.XA.Foundation.Connect"/>
      </models>
    </commerce.XA>
  </sitecore>
</configuration>